body{
    background: #313238;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", sans-serif;
    font-size: 1.6em;
    color: white;
    overflow-y: hidden;
}
.container {
    padding: 0 15px;
    margin: auto;
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
/* Bordered form */
form {
	color: #222222;
	margin-top: 50px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.blocWhite{
	width:80%;
	font-size: 0.6em;
	color: #313238;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);	
    margin-top: 50px;
    text-align:center;
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size:3.5em;
}

.hotButton{
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size:2em;
}
.hotButton:hover{
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
    opacity:0.7;
}
.coldButton{
	background-color: white;
    color: #53af57;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #53af57;
    cursor: pointer;
    width: 100%;
    font-size: 2em;
}
.coldButton:hover{
	background-color: #53af57;
    color: white;
    border: none;
    opacity:0.7;
}
.signOutButton{
    background-color: #ed3835;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    font-size:1em;
}
.signOutButton:hover{
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
    opacity:0.7;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}